/* Cart Page Container */
.cart-page {
    padding: 20px;
}

/* Card Layout */
.card {
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-price {
    font-size: 1.1rem;
    color: #555;
}

.quantity-display {
    font-size: 1.1rem;
    margin: 0 10px;
}

/* Cart Summary */
.cart-summary {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.checkout-button {
    font-weight: bold;
}


.empty{
    font-size: 100px;
    text-align: center;
    display: flex;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
}

.shopping{
    font-size: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.shopping>p>i{
    text-decoration: none;
}